<div class="inputs__wrapper">
    <p class="inputs__item__sup-title -hide">{{text}}</p>
    <input type="text" class="inputs__item" placeholder="{{text}}">
    <p class="inputs__item__error -hide">Incorrect {{text}}</p>
</div>