
.button {
    min-width: 280px;
    align-self: center;
    text-decoration: none;
    text-align: center;

    &__main {
        font-size: 13px;
        line-height: 13px;
        color: #FFF;
        padding: 12px 0;
        background: var(--main-color);
        border: 0 solid;
        border-radius: 8px;

    }

    &__sub {
        font-size: 11px;
        line-height: 11px;
        color: var(--main-color);
        background-color: #FFF;
        border: none;
    }
}
