---
{
    code: "404",
    description: "Wrong page!",

formInputs: [
"Login"
],

formPasswordInputs: [
"Password"
],

links: {
main: "asdasd",
sub: "bbbb"

},
buttonsText: {
mainBtn: "Sign in",
subBtn: "Don't have account?"
},
}
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../styles/styles.pcss">
    <title>Uber chat / {{title}} </title>
</head>
<body>
        {{> error-page/error  }}
        <div class="profile -hide">
            <div class="profile__navigate__buttons">
                <button class="profile__navigate__button">
                    <svg width="28" height="28" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="14" cy="14" r="14" transform="rotate(-180 14 14)"/>
                        <rect x="20" y="14.8" width="11" height="1.6" transform="rotate(-180 20 14.8)" fill="white"/>
                        <path d="M13 19L9 14L13 9" stroke="white" stroke-width="1.6"/>
                    </svg>
                </button>
            </div>
            <div class="profile__container">
                <div class="profile__content">
                    <div class="profile__header">
                        <svg width="130" height="130" viewBox="0 0 130 130" fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="profile__icon">
                            <circle cx="65" cy="65" r="65"/>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M81 47H49C47.8954 47 47 47.8954 47 49V70.2667L59.6547 67.3139C60.5486 67.1053 61.4635 67 62.3814 67H67.6186C68.5365 67 69.4514 67.1053 70.3453 67.3139L83 70.2667V49C83 47.8954 82.1046 47 81 47ZM49 45C46.7909 45 45 46.7909 45 49V81C45 83.2091 46.7909 85 49 85H81C83.2091 85 85 83.2091 85 81V49C85 46.7909 83.2091 45 81 45H49ZM55.9091 59.5455C57.9174 59.5455 59.5455 57.9174 59.5455 55.9091C59.5455 53.9008 57.9174 52.2727 55.9091 52.2727C53.9008 52.2727 52.2728 53.9008 52.2728 55.9091C52.2728 57.9174 53.9008 59.5455 55.9091 59.5455Z" fill="#CDCDCD"/>
                        </svg>
                        <h2 class="profile__name">Ivan</h2>
                    </div>
                    <div class="profile__information">
                        <div class="profile__information__items">
                            <p class="profile__information__title">Почта</p>
                            <p class="profile__information__value">pochta@yandex.ru</p>
                        </div>
                        <div class="profile__information__items">
                            <p class="profile__information__title">Логин</p>
                            <p class="profile__information__value">ivanivanov</p>
                        </div>
                        <div class="profile__information__items">
                            <p class="profile__information__title">Имя</p>
                            <p class="profile__information__value">Иван</p>
                        </div>
                        <div class="profile__information__items">
                            <p class="profile__information__title">Фамилия</p>
                            <p class="profile__information__value">Иванов</p>
                        </div>
                        <div class="profile__information__items">
                            <p class="profile__information__title">Имя в чате</p>
                            <p class="profile__information__value">Иван</p>
                        </div>
                        <div class="profile__information__items">
                            <p class="profile__information__title">Телефон</p>
                            <p class="profile__information__value">+7 (909) 967 30 30</p>
                        </div>
                    </div>
                    <div class="profile__buttons">
                        <div class="profile__buttons__container">
                            <button class="profile__button">Изменить данные</button>
                        </div>
                        <div class="profile__buttons__container">
                            <button class="profile__button">Изменить пароль</button>
                        </div>
                        <div class="profile__buttons__container">
                            <button class="profile__button profile__button-red">Выйти</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" >
          <div class="modal__container">
              {{> components/form/form  }}
        </div>
        </div>
</body>
</html>