<div class="modal__form__container">
        <div class="modal__form__header">
            <h2 class="modal__form__title"> Add new user</h2>
        </div>
    <form action="" class="modal__form__content">
    <div class="modal__form__content__inputs">
        {{> components/inputs/input text = "Username" }}
    </div>
    <div class="modal__form__content__buttons">
        <a href="messenger" class="button button__main">Add</a>
    </div>
</form>
</div>