<div class="modal__form__container">
        <div class="modal__form__header">
            <h2 class="modal__form__title"> Upload file</h2>
        </div>
    <form action="" class="modal__form__content">
    <div class="modal__form__content__inputs">
        <input type="file" class = "modal__form__content__upload-input" name="Upload file">
    </div>
    <div class="modal__form__content__buttons">
        <a href="profile" class="button button__main">Upload</a>
    </div>
</form>
</div>