
<div class="modal" >
    <div class="modal__container">
        {{#if addUser}}
            {{> components/modal/forms/addUser  }}
        {{/if}}

        {{#if uploadFile}}
            {{> components/modal/forms/uploadFile  }}
        {{/if}}
    </div>
</div>