<div class="profile__information">
    <div class="profile__information__items">
        <p class="profile__information__title">Old password</p>
        <input type="password" class="profile__information__value-edit">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">New password</p>
        <input type="password" class="profile__information__value-edit">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">Repeat</p>
        <input type="password" class="profile__information__value-edit">
    </div>
</div>
