<div class="profile__buttons">
    <div class="profile__buttons__container">
        <a href="edit-profile" class="profile__button button">Edit profile</a>
    </div>
    <div class="profile__buttons__container">
        <a href="change-password" class="profile__button button">Change password</a>
    </div>
    <div class="profile__buttons__container">
        <a href="signin" class="profile__button profile__button-red button">Sign out</a>
    </div>
</div>
