<div class="profile__information">
    <div class="profile__information__items">
        <p class="profile__information__title">E-mail</p>
        <input class="profile__information__value-edit" value = "pochta@yandex.ru">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">Login</p>
        <input class="profile__information__value-edit" value = "ivanivanov">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">First name</p>
        <input class="profile__information__value-edit" value = "Иван">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">Second name</p>
        <input class="profile__information__value-edit" value = "Иванов">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">Display name</p>
        <input class="profile__information__value-edit" value = "Иван">
    </div>
    <div class="profile__information__items">
        <p class="profile__information__title">Phone</p>
        <input type="tel" class="profile__information__value-edit" value = "+7 (909) 967 30 30">
    </div>
</div>
