<div class="error-page">
    <div class="error-page__container">
        <div class="error-page__content">
            <h2 class="error-page__title">{{ code }}</h2>
            <p class="error-page__description">{{ description }}</p>
        </div>
        <div class="error-page__buttons">
            <a href="/messenger" class="button button__sub">back</a>
        </div>

    </div>
</div>
